.h2-title .switch {
  position: relative;
  top: 3px;
  left: 10px;
}
#micEnhance .slider-container {
  width: 490px;
  margin-left: 30px;
  height: 0;
  opacity: 0;
  overflow: hidden;

  will-change: height, opacity;
  transition: height 0.3s, opacity 0.3s;
}
#micEnhance .slider-container.on {
  height: 64px;
  opacity: 1;
  overflow: unset;
  margin-bottom: 20px;
}
